:root {
  /* Color Bindings */
  --tsxup-brightest: #ffffff;
  --tsxup-bright: #F2F5F9;
  --tsxup-transparent: transparent;
  --tsxup-darkest: theme('colors.gray.900');
  --tsxup-darkest-light: theme('colors.gray.600');
  --tsxup-darkest-mid-light: theme('colors.gray.500');
  --tsxup-darkest-mid: theme('colors.gray.300');
  --tsxup-brightest-darker: theme('colors.gray.200');
  --tsxup-signal-success-lighter: theme('colors.green.100');
  --tsxup-signal-success-light: theme('colors.green.200');
  --tsxup-signal-success: theme('colors.green.700');
  --tsxup-signal-error-lighter: theme('colors.red.100');
  --tsxup-signal-error-light: theme('colors.red.200');
  --tsxup-signal-error: theme('colors.red.600');
  --tsxup-signal-error-med: theme('colors.red.500');
  --tsxup-signal-info-lighter: theme('colors.blue.100');
  --tsxup-signal-info-light: theme('colors.blue.200');
  --tsxup-signal-info: theme('colors.blue.600');
  --tsxup-primary: #1e40af;
  --tsxup-primary-medium: #003da685;
  --tsxup-primary-light: #dbe8ff;
  --tsxup-primary-lightest: #e6eaf2;
  --tsxup-active: theme('colors.orange.500');
  /* Element bindings */
  --tsxup-text: var(--tsxup-darkest);
  --tsxup-text-lighter: var(--tsxup-darkest-light);
  --tsxup-headline: var(--tsxup-darkest);
  /* Component */
  --tsxup-button-regular-color: var(--tsxup-brightest);
  --tsxup-button-regular-bg: var(--tsxup-primary);
  --tsxup-button-regular-border: var(--tsxup-primary);
  --tsxup-button-regular-color-hover: var(--tsxup-brightest);
  --tsxup-button-regular-bg-hover: var(--tsxup-primary-medium);
  --tsxup-button-regular-border-hover: var(--tsxup-primary-medium);
  --tsxup-button-regular-color-disabled: var(--tsxup-primary-lightest);
  --tsxup-button-regular-bg-disabled: var(--tsxup-primary-medium);
  --tsxup-button-regular-border-disabled: var(--tsxup-transparent);
  --tsxup-button-ghost-color: var(--tsxup-darkest-light);
  --tsxup-button-ghost-bg: var(--tsxup-brightest);
  --tsxup-button-ghost-border: var(--tsxup-darkest-mid);
  --tsxup-button-ghost-color-hover: var(--tsxup-darkest-light);
  --tsxup-button-ghost-bg-hover: var(--tsxup-brightest);
  --tsxup-button-ghost-border-hover: var(--tsxup-darkest);
  --tsxup-button-ghost-color-disabled: var(--tsxup-darkest-mid-light);
  --tsxup-button-ghost-bg-disabled: var(--tsxup-brightest-darker);
  --tsxup-button-ghost-border-disabled: var(--tsxup-darkest-mid-light);
  --tsxup-button-transparent-bg: transparent;
  --tsxup-button-transparent-color: var(--tsxup-primary);
  --tsxup-button-transparent-color-hover: var(--tsxup-darkest-light);
  --tsxup-button-cancel-bg: var(--tsxup-signal-error);
  --tsxup-button-cancel-color: var(--tsxup-brightest);
  --tsxup-button-cancel-bg-hover: var(--tsxup-signal-error-light);
  --tsxup-button-cancel-color-hover: var(--tsxup-signal-error-med);
  --tsxup-selectField-border: var(--tsxup-brightest-darker);
  --tsxup-selectField-background: var(--tsxup-brightest);
  --tsxup-selectField-backgroundHover: var(--tsxup-brightest);
  --tsxup-selectField-backgroundDisabled: var(--tsxup-brightest-darker);
  --tsxup-selectField-color: var(--tsxup-darkest);
  --tsxup-selectField-selectedBackground: var(--tsxup-primary);
  --tsxup-selectField-selectedColor: var(--tsxup-primary-light);
  --tsxup-abox-success-bg: var(--tsxup-signal-success-lighter);
  --tsxup-abox-success-border: var(--tsxup-signal-success-light);
  --tsxup-abox-success-color: var(--tsxup-signal-success);
  --tsxup-abox-error-bg: var(--tsxup-signal-error-lighter);
  --tsxup-abox-error-border: var(--tsxup-signal-error-light);
  --tsxup-abox-error-color: var(--tsxup-signal-error);
  --tsxup-abox-info-bg: var(--tsxup-signal-info-lighter);
  --tsxup-abox-info-color: var(--tsxup-signal-info);
  --tsxup-abox-info-border: var(--tsxup-signal-info-light);
  --tsxup-label-active-color: var(--tsxup-signal-success);
  --tsxup-label-active-bg: var(--tsxup-signal-success-light);
  --tsxup-label-suspended-color: var(--tsxup-signal-info);
  --tsxup-label-suspended-bg: var(--tsxup-signal-info-light);
  --tsxup-label-canceled-color: var(--tsxup-darkest);
  --tsxup-label-canceled-bg: var(--tsxup-darkest-mid);
  --tsxup-ps-bg: var(--tsxup-brightest);
  --tsxup-ps-text-disabled-color: var(--tsxup-darkest-mid-light);
  --tsxup-ps-text-checked-color: var(--tsxup-primary);
  --tsxup-ps-text-unchecked-color: var(--tsxup-darkest);
  --tsxup-ps-option-checked-bg: var(--tsxup-primary-light);
  --tsxup-ps-option-checked-border: var(--tsxup-primary-medium);
  --tsxup-ps-option-unchecked-border: var(--tsxup-darkest-mid);
  --tsxup-ps-bullet-checked-bg: var(--tsxup-primary);
  --tsxup-ps-bullet-unchecked-bg: var(--tsxup-brightest);
  --tsxup-ps-bullet-unchecked-border: var(--tsxup-darkest-light);
  --tsx-display-change-box-bg: var(--tsxup-bright);
  --tsx-display-change-box-color: var(--tsxup-darkest);
  --tsx-display-change-box-start-color: var(--tsxup-darkest-mid-light);
  --tsx-display-change-box-target-color: var(--tsxup-active);
}
